<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>LOGIN</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body class="b">
<form action="">

<nav class="Header">

<div class="page-1">
  <img src="{{ url_for('static',filename='image/hero.png') }}" class="logo">
</div>
<div>

<ul>
<li><a href="/" target="self">HOME</a></li>
<li><a href="#" target="self">NEW LAUNCHES</a></li>
<li><a href="#" target="self">MOTORCYCLES</a></li>
<li><a href="#" target="self">SERVICES</a></li>
<li><button class="yellow-button" class="yellow-border-button"><a href="/sign_up">SING UP</a></a></button></li>
<li><a href="Login.html" target="_self"><button class="yellow-button">BOOK NOW</button></a></li>
</ul>
</div>


</nav>

</form>

<div>
    <img src="{{ url_for('static',filename='image/hero-mavrick-440-teased1-1705038696-20240112120255.webp') }}" class="bgImage">
    <div class="form1">
        <form action="/login_validation" method="post">
        <div class="login">

            <div>
                <h3>Login</h3>
            </div>
             {% if error %}
        <p style="color:red;">{{ error }}</p>
             {% endif %}
        </div>
        <label for="name">Enter Your Name</label>
        <div>
        <input class="input" type="text" name="name" id="name" placeholder="Enter your name" value="" required/>
    </div>
    <label for="pass">Enter Password</label>
    <div>
        <input class="input"  type="text" name="password" id="pass" placeholder="Enter Pasword" required/>
    </div>

    <button type="submit" class="btnLogin">Login</button>
</form>
</div>

<div>
   <img src="{{ url_for('static',filename='image/SECOND-BACK.png') }}" class="bgImage">
</div>
<div class="card">
   <div class="card-content">
    <p>Hero Karizma XMR </p>
     <p>TURBO RED</p>
     <img src="{{ url_for('static',filename='image/TURBO-red.png') }}" class="cardImg">
   </div>
 </div>

 <div class="card">
   <div class="card-content">
    <p>Hero Karizma XMR</p>
    <p>TURBO YELLOW</p>
     <img src="{{ url_for('static',filename='image/turbo-yellow.png') }}" class="cardImg">
   </div>
 </div>

 <div class="card">
  <div class="card-content">
   <p>Hero Karizma XMR</p>
   <p>MATTE PHANTOM BLACK</p>
    <img src="{{ url_for('static',filename='image/TURBO-BLACK.png') }}" class="cardImg">
  </div>
</div>

<div>
    <img src="{{ url_for('static',filename='image/BOTTOM-BACKGROUND.png') }}" class="bgImage">
</div>

<footer>
    <div class="footer-details">
        <div class="footer-column">
            <h3>Contact Us</h3>
            <p>Email: .com</p>
            <p>Phone: +1234567890</p>
        </div>
        <div class="footer-column">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Address</h3>
            <p>Delhi</p>
            <p>Delhi,India</p>
        </div>
    </div>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>

</body>
</html>
